{% extends "base.html" %} {% block content %}

<section id="dashboard">
  {% if bad %}
  <div id="message">{{ message }}</div>
  {% else %}
  <div id="message" style="color: green">{{message}}</div>
  {% endif %}

  <div style="display: flex; justify-content: center">
    <form
      class="form"
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      style="margin-top: 7rem"
    >
      <label
        for="upload"
        style="
          cursor: pointer;
          padding: 1.5rem;
          border: 2px solid grey;
          margin-bottom: 1.5rem;
          color: white;
          background-color: #242582;
        "
      >
        Click here to Select Video
        <input
          class="inp-btn"
          style="display: none"
          type="file"
          name="video"
          id="upload"
          required
        />
      </label>

      <button id="upload-btn" class="inp-btn" type="submit">Upload</button>
    </form>
  </div>
</section>

{% endblock %}
