{% extends "base.html" %} {% block content %}
<section>
  <div class="hero">
    <img
      src="https://img.freepik.com/premium-photo/helping-hand-life-problems-drowning-person-rescue-swimming-ring-water-safety-water-equipment_265223-9110.jpg"
      class="img"
    />
  </div>
  <div class="main">
    <div class="title">Virtual Eye</div>
    <div class="sub">
      <div class="left">
        <div class="para">
          Virtual-eye is a cohesive all-in-one system used for poolside safety
          and drowning detection. At its core, it is a computational AI model
          named YOLO. An algorithm that uses neural networks to provide
          real-time object detection. We source the benefits of YOLO to enable
          real-time frame-by-frame detection, which in our case is identifying
          "potentially drowning swimmers". Virtual-eye is a full-fledged web
          application that takes in a video stream or footage to compute the
          probability of a potential case of drowning. On detecting any signs of
          drowning, the application sounds an alarm to notify that there is
          someone in need of help. The application additionally supports
          register & login features to authenticate users on a subscribe-to-use
          basis. Virtual-eye aims to be a minimal, hassle-free monitoring
          software to make pool days safe and fun.
        </div>
      </div>
      <div class="right">
        <div class="para">
          <h3>STEPS</h3>
          <ol>
            <li>Login/Signup</li>
            <li>Upload Video File</li>
            <li>Be Patient</li>
            <li>Acknowledge the prediction</li>
            <li>Take According action</li>
            <li>Drop a feedback</li>
            <li>Logout</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
