@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
}

nav h1 {
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #242582;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  padding: 0.5rem;
  margin: 0;
}

nav ul li {
  margin: 0;
  list-style: none;
  padding: 0.5rem;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a {
  text-decoration: none;
  color: black;
}

section {
  height: 85vh;
}

footer {
  color: white;
  text-align: center;
  padding: 2rem;
  background-color: #2f2fa2;
}

/* Login and Register */
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  box-shadow: 2px 3px 4px 5px grey;
  padding: 5rem;
}

.head {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.inp {
  margin-bottom: 1rem;
  border: 2px solid #758283;
  width: 50%;
  height: 2rem;
  border-radius: 7px;
  padding-left: 0.7rem;
  padding: 1.3rem;
}

.inp-btn {
  width: 22%;
  height: 2.2rem;
  background-color: #242582;
  color: aliceblue;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 7px;
}

.inp-btn:hover {
  background-color: #3944f7;
}

/* Index */
.hero {
  width: 100vw;
  height: 50vh;
}
.img {
  height: 100%;
  width: 100vw;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 400;
}

.sub {
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left,
.right {
  padding: 2.5rem;
}

.message {
  color: red;
  margin-bottom: 2rem;
}

.card {
  background-color: whitesmoke;
  padding: 1.5rem;
  border: 2px solid #242582;
  box-shadow: 2px 3px 4px 5px grey;
  width: 60%;
}

small {
  text-align: left;
}

.logout-yes {
  padding: 1rem;
  background-color: darkblue;
  color: white;
  border: 2px solid;
}

.logout-no {
  padding: 1rem;
  background-color: white;
  color: darkblue;
}

.row {
  margin-top: 5rem;
}

.header {
  margin-top: 3rem;
  text-align: center;
}

#dashboard {
  background: url(https://www.washingtonpost.com/resizer/VyijgOIAQBZ4AsD2wncy0CGdpIo=/arc-anglerfish-washpost-prod-washpost/public/SPZ62KE5YUI6TA7DIX663DUNFY.jpg);
  background-size: cover;
}
#feedback {
  background: url(https://www.betterteam.com/images/swim-instructor-job-description-4928x3264-20201126.jpeg?crop=4:3,smart&width=1200&dpr=2);
  background-size: cover;
}
#feedbacks {
  background: url(https://www.tekniker.es/media/uploads/noticias/IMG_Ecopool_767x4311.jpg);
  background-size: cover;
}

small {
  text-align: left;
  font-weight: lighter;
}

#feedback-link {
  color: black;
}
