{% extends "base.html" %} {% block content %}
<section id="feedback" class="cont">
  {% if admin %}
  <a href="/feedbacks" id="feedback-link">click here to see the feedbacks</a>
  {% endif %} {% if message %}
  <div id="message" style="color: green; margin-top: 3rem">{{message}}</div>
  {% else %}
  <form action="/feedback" method="post" class="form">
    <input
      type="email"
      class="inp"
      placeholder="email"
      name="email"
      value="{{email}}"
    />
    <textarea
      name="feedback"
      cols="60"
      rows="10"
      value="your feedback here..."
    ></textarea>
    <input
      type="submit"
      class="inp-btn"
      value="Submit"
      style="margin-top: 1rem"
    />
  </form>
  {% endif %}
</section>
{% endblock %}
